.Table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 1500px;
    padding: 20px;
    margin: auto;
}

.Table-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Table-title h2 {
   margin-left: 10px;
}




