.Home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-template-areas:
        "graph"
        "table";
}

.Home-graph {
    grid-area: graph
}

.Home-table {
    grid-area: table
}

.Home-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 40px;
}

.Home-loading p {
    margin-right: 10px;
}

.Home-error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 40px;
}

