.Table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 1500px;
    padding: 20px;
    margin: auto;
}

.Table h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}




